body {
    background-image: url(IMG_6304_Fotor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 a {
    font-size: 3.5em;
    font-family: "Courier New";
    color: black;
    text-align: left;
}

.selected {
    color: white;
}

h2 {
    text-align: center;
    font-size: 6em;
    font-family: "Courier New";
    font-weight: bold;
}

.col-md-9 {
    text-align: center;
    font-size: 2.5em;
    font-family: "Courier New";
}

.welcome {
    text-align: center;
    margin-top: 3.5em;
    font-family: "Courier New";
    font-size: 2em;
}

.kotarokibe {
     background: -webkit-linear-gradient(-90deg, #E60063, #E0FF42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
     font-size: 2em;
     font-family: 'Poiret One', cursive;
}
